[submodule "kamcord-android-sdk"]
	path = kamcord-android-sdk
	url = git@github.com:IDKJava/kamcord-android-sdk.git
[submodule "Android-WVersionManager"]
	path = Android-WVersionManager
	url = git@github.com:IDKJava/Android-WVersionManager.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:google/protobuf.git
